<h2>Lista de empresas cadastras</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Active</th>
      <th colspan="30"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |comp| %>
      <tr>
        <td><strong><%= comp.name %></strong> --- </td>
        <td><%= comp.city %></td>
        <td><%= comp.is_active %></td>
        <td><%= link_to 'Edit', edit_company_path(comp) %> </td>
        <td><%= link_to 'Show', '/' %> </td>
        <td><%= link_to 'De', '/' %> </td>

       
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add new company", companies_new_path %><br>
<%= link_to "Home", root_path %>

<br>
<br>
<br>
<div data-controller = "hello">
  <textarea data-target='hello.text' type= 'text'></textarea>
  <button data-action= "click->hello#write">Teste</button>
  <h3 data-target='hello.printer'></h3>

</div>